h1 {
font-family: sans-serif;
text-align: center;
}

main {
  width:270px;
  border-radius: 5px;
  margin:auto;
  background-color: peachpuff;
  box-shadow: 3px 2px black;
  padding:5px
}

.display {
  background-color: grey;
  border: 1px solid black;
  height:75px;
  width: 245px;
  margin: 5px 5px 10px 10px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 24px;
}

.current {
  padding-left: 5px;
  margin: 0;
}
.last {
  padding-left: 5px;
  margin:10px 0 0 0;
}

.retro{
  margin-left: 125px;
}

.solar{
  width: 25px;
  display: inline-block;
  height: 25px;
  background-color: black;
  border: 1px solid red;
  margin: -2px;
}

.numbers {
  display: inline-block;
  margin-left: 5px;
}

.symbols {
  display: inline-block;
}

.button {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: grey;
  margin: 5px;
  text-align: center;
  font-family: sans-serif;
  font-size: 38px;
  border-radius: 5px;
  box-shadow: 3px 3px black;
}

.button:active {
  transform:translate(2px, 2px);
  box-shadow: 0px 0px #000;
}

.clear, .clearEntry {
  width:82px;
}

.side {
  display: block;
  margin: 10px;
}
